// This mixin will extract header font size & line-height information from $fontSize map
// $fontSize -> header -> {key}
// { $enableLineHeight } boolean to toggle lineheight
// Usage
// h1{ @include getHeaderFontSize("h1") }
// Note: make sure key exists in the map
// Map found at /variables/fonts.scss

@mixin getHeaderFontSize($key: null, $enableLineHeight: null) {
  font-size: unitConversion(get('header.#{$key}.font-size', $fontSize));
  @if ($enableLineHeight) {
    line-height: get('header.#{$key}.line-height', $fontSize);
  }
}

// This mixin will extract body font size & line-height information from $fontSize map
// $fontSize -> font -> {key}
// { $enableLineHeight } boolean to toggle lineheight
// Usage
// .card-title { @include getFontSize("body1") }
// Note: make sure key exists in the map
// Map found at /variables/fonts.scss

@mixin getFontSize($key: null, $enableLineHeight: null) {
  font-size: unitConversion(get('font.#{$key}.font-size', $fontSize));
  @if ($enableLineHeight) {
    line-height: get('font.#{$key}.line-height', $fontSize);
  }
}
