// ==========================================================================
// Config
// Define variables, maps and fonts at this partial.
// ==========================================================================

//Enter your Web Address here for print media
$domain-name: 'www.lms.com';

//Text
$base__font-size: 14px;
$base__line: 24px;

//Font Stacks

$font-url--google: 'https://fonts.googleapis.com/css?family=Muli:400,600,700';

$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', $font-family-sans-fallback;
$font-family-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;
$font-family-muli: 'Muli', sans-serif;
$font-family--primary: $font-family-muli;
$font-family--secondary: $font-family-sans;

//Colors
$white: #fff;
$black: #000;

$gray: #c7c7c7;
$gray-light: #eceff1;
$gray-medium: #9e9e9e;

// $red: #D24D57;
$blue: #03a9f4;
$blue-dark: #0099de;
$yellow: #ffca28;
$orange: #f2af4b;

$red: #fe8a80;
$red-dark: #f28379;

$green: #66bb6a;
$green-dark: #61b165;
$purple: #b39ddb;
$purple-dark: #ac97d1;
$pink: #f48fb1;
$pink-dark: #e888a8;

$faded-background: #f4f7f9;
$dark-gray-background: #ecf1f3;

$icon-gray: #b0bec5;
$border-gray: #e6ecef;
$border-light-gray: #e8e8e8;
$border-dark-gray: #bfc7cc;
$label-gray: #eceff1;

$tag-bg-color: #eceff1;
$text-color: #263238;
$text-color-light: #78909c;
$text-color-dark: #828282;
$text-color-black: #4f4f4f;
$text-color-grey: #646464;

//Border Radius
$border-radius: 10px;
$border-radius-xs: 3px;

//Padding
$padding: 8px;

//Message Colors
$error: lighten($red, 5%) !default;
$success: $green !default;
$edit: $yellow !default;

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;

//UI Colors
$ui-colors: (
  default: $blue,
  success: $success,
  error: $error,
  warning: $edit,
);

//Color Palette
$palettes: (
  gray-shades: (
    base: $gray,
    dark: darken($gray, 20%),
    light: lighten($gray, 20%),
  ),
  blue-shades: (
    base: $blue,
    dark: darken($blue, 20%),
    light: lighten($blue, 20%),
  ),
);

//Font size variables
$default-font-size: $base__font-size;
$lg-font-size: $default-font-size + 4px;
$xlg-font-size: $lg-font-size + 4px;
$medium-font-size: $default-font-size + 2px;
$small-font-size: $default-font-size - 2px;
$xsmall-font-size: $small-font-size - 2px;
$xxsmall-font-size: $xsmall-font-size - 2px;

//Font weight variables

$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

//Heading font size variables
$head1-font-size: 28px !default;
$head2-font-size: $head1-font-size - 6px !default;
$head3-font-size: $head1-font-size - 10px !default;

//Color Usage
// $primary-color: $white;
$primary-color: $blue;
$secondary-color: $black;
$accent-color: $gray;
$shadow-color: rgba($black, 0.2);
$border-color: $gray;
$color-text: $black;
$color-link: $blue;

//Path to Assets
$path--rel: '../images';

//Table

$table-bg: $white;
$table-cell-padding: 10px;

//Box Shadow
$button-pressed: 0px 2px 6px 0px rgba(0, 0, 0, 0.1) inset;
$card-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
