.avatar {
  overflow: hidden;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  @include m(round) {
    border-radius: 100%;
  }
  @include m(sm) {
    width: 40px;
    height: 40px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
