.block-set {
  background: $white;
  height: 490px;
  box-shadow: $card-shadow;
  padding-bottom: 20px;

  @include e(header) {
    padding: 16px;
    border-bottom: 2px solid $border-gray;

    h1,
    h2,
    h3 {
      margin-top: 4px;
    }
  }

  @include e(content) {
    height: calc(100% - 73px);
    overflow-y: auto;
    padding: 0 16px;
  }

  @include e(row-item) {
    padding: 10px 0;
    width: 50%;
    float: left;

    a {
      color: inherit;
    }

    .icon-status {
      margin: 15px 20px 0 0;
    }
  }

  @include e(list) {
    li {
      padding: 10px 0;
      border-bottom: 1px solid $border-gray;

      &:last-child {
        border-bottom: 0;
      }
    }

    @include m(left) {
      width: 50%;
    }

    @include m(right) {
      width: 50%;
    }
  }
}
