.btn {
  white-space: nowrap;
  padding: 8px 15px;
  position: relative;
  height: 38px;
  text-align: center;
  font-size: $small-font-size;
  font-weight: $weight-semi-bold;
  border: none;
  background: transparent;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  @include e(text) {
    @include m(center) {
      margin-top: 5px;
      display: inline-block;
    }
  }

  @include m(alternate) {
    border: 1px solid $icon-gray;
    background: transparent;
    color: $text-color-grey;

    &:hover {
      border-color: $blue-dark;
    }
  }
  @include m(loading) {
    .btn__label,
    svg {
      visibility: hidden;
    }
  }

  @include m(primary) {
    background: $primary-color;
    color: $white;

    svg {
      fill: $white;
    }

    &:hover {
      background: $blue-dark;
    }
  }

  @include m(borderless) {
    margin-left: 8px;
    background: transparent;
  }

  @include m(curved) {
    border-radius: 20px;
  }

  @include m(red) {
    border-color: $red;
    color: $red;
    &:hover {
      border-color: darken($red, 30%);
    }

    svg {
      fill: $red;
    }
  }

  @include m(sm) {
    font-size: $small-font-size;
    height: auto;
  }

  @include m(filter-option) {
    border: 1px solid transparent;
    border-radius: $border-radius-xs;
    line-height: normal;
    padding: $padding;
    height: auto;

    &:hover {
      border-color: $border-dark-gray;
      background: $faded-background;
    }

    .icon {
      display: inline-block;
      height: 18px;

      img {
        max-height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @include m(notification-available) {
    animation: color-flash-blue 2s ease infinite;
  }
}
