.project-news {
  border-bottom: 1px solid $border-gray;
  padding: 20px 0;
  position: relative;

  .icon {
    position: absolute;
    top: 25px;
    left: 20px;
  }

  .icon > img {
    width: 44px;
  }

  .info {
    float: left;
    padding-left: 80px;

    a {
      color: inherit;
    }

    p {
      color: $text-color-grey;
      font-size: $small-font-size;
    }
  }
}

.namecard {
  @include e(info) {
    .text--grey {
      font-size: $small-font-size;
      color: $text-color-grey;
    }
  }
}

.table {
  .icon-status {
    margin-top: 7px;
  }

  .status-text {
    width: 50px;
    display: inline-block;
  }

  .info img {
    margin-top: 4px;
  }
}
