.header--top {
  background: $white;
  height: 70px;
  position: relative;
  &:after,
  &:before {
    display: none;
  }
}

.logo {
  width: 150px;
  @include mq(sm) {
    width: 190px;
  }
  img {
    height: 100%;
  }
}

.user-card {
  max-width: 150px;
  @include mq(sm) {
    max-width: inherit;
  }
}
.header-left {
  display: flex;

  @include e(nav) {
    margin-left: 50px;
    @include mq(md) {
      display: flex;
      align-items: center;
    }
    @include mqmax(md) {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-30px);
      transition: all 0.2s ease;
      &.show {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
      position: absolute;
      top: 100%;
      left: 0;
      background: $white;
      width: 100%;
      margin-left: 0px;
      z-index: 1;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 5px 5px;
    }
  }

  @include e(item) {
    margin-right: 30px;

    a {
      @include mqmax(md) {
        padding: 15px;
      }
      display: block;
      color: $gray-medium;
      &:hover {
        color: $green;
      }
    }
  }
}

.header-right {
  @include e(item) {
    float: left;
    margin-right: 30px;
    &.dropdown-cover {
      position: relative;
      cursor: pointer;
    }
    &:last-child {
      margin: 0;
    }

    a {
      display: block;
      color: $text-color;

      img {
        margin-top: 6px;
      }

      span {
        display: inline-block;
        font-size: $default-font-size;
      }

      &:hover {
        color: $primary-color;
      }
    }

    img {
      vertical-align: middle;
    }
  }
}

.dropmenu {
  position: absolute;
  top: 100%;
  background-color: $white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0;
  @extend %shadow;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transform: translateY(-30px);
  transition: all 0.1s ease;
  &.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  @include e(node) {
    a {
      padding: 8px 16px;
    }
  }
}

.sp-menu-toggle {
  height: 50px;
  @include mq(sm) {
    display: none;
  }
}
.toggle-menu {
  cursor: pointer;
}
