.icon-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid;

  @include m(purple) {
    @include color-scheme($purple);
  }

  @include m(yellow) {
    @include color-scheme($yellow);
  }

  @include m(pink) {
    @include color-scheme($pink);
  }

  @include m(green) {
    @include color-scheme($green);
  }

  @include m(red) {
    @include color-scheme($red);
  }
}

.icon-container {
  .icon-status {
    margin-top: 15px;
    margin-right: 20px;
  }
}

.icon {
  @include m(inner) {
    margin-right: 5px;
  }
}
