.nametag {
  border-radius: 50%;
  padding-top: 6.5px;
  font-size: $small-font-size;
  color: $white;
  font-weight: $weight-bold;
  text-align: center;
  border: 2px solid;
  margin-right: 10px;

  @include m(lg) {
    width: 36px;
    height: 36px;
  }

  @include m(sm) {
    width: 24px;
    height: 24px;
    font-size: $xsmall-font-size;
    padding-top: 2px;
  }

  @include m(purple) {
    @include color-scheme($purple);
  }

  @include m(yellow) {
    @include color-scheme($yellow);
  }

  @include m(pink) {
    @include color-scheme($pink);
  }

  @include m(green) {
    @include color-scheme($green);
  }

  @include m(red) {
    @include color-scheme($red);
  }
}

.nametag-grouped .nametag {
  margin-right: -15px;
  border-color: $white;
}

.profile-photo {
  margin-top: 0 !important;
  padding-top: 0;
}
