.pager {
  padding: ($padding * 2);
  color: $text-color-grey;

  @include e(count) {
    margin-top: ($padding/2);
    float: left;
  }

  @include e(nav) {
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    float: right;

    li {
      display: inline;
      float: left;

      > a {
        display: inline-block;
        color: $text-color-grey;
        padding: ($padding/2) $padding;
        background-color: $white;
        border: 1px solid $border-dark-gray;
      }

      > a:hover,
      > a:focus {
        text-decoration: none;
        background-color: darken($white, 5%);
      }

      &:first-child > a {
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-child > a {
        border-radius: 0 $border-radius $border-radius 0;
      }

      &:not(:last-child) > a {
        border-right: none;
      }

      &:first-child > a,
      &:last-child > a {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    .active {
      > a,
      > a:hover,
      > a:focus {
        background-color: $blue;
        color: $white;
      }
    }

    .disabled {
      > a,
      > a:hover,
      > a:focus,
      > span {
        color: $pager-disabled-color;
        cursor: $cursor-disabled;
      }
    }
  }
}
