.full-scope-card {
  width: 100%;
  min-height: 385px;
  background-color: $white;
  box-shadow: $card-shadow;
  margin-top: 30px;
  position: relative;
  @include clearfix();
  @include e(header) {
    padding: ($padding * 2);
    border-bottom: 2px solid $border-gray;
  }
}

.element-block {
  padding: 25px;
  border-bottom: 1px solid $border-gray;

  @include e(footer) {
    text-align: right;

    button + button {
      margin-left: 16px;
    }
  }
}

.list-group {
  margin-top: 20px;

  @include e(item) {
    border-left: 4px solid $primary-color;
    padding: 0 16px;
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }
  }

  @include e(heading) {
    display: inline-block;
    font-size: 16px;
    font-weight: $weight-semi-bold;
    margin-bottom: 5px;
  }
}

.inline-list-group {
  li {
    float: left;
    margin-right: 30px;
  }
}

.path-definitions {
  display: none;
}

.link {
  font-size: 14px;
  color: $primary-color;

  svg {
    fill: $primary-color;
  }

  &:hover {
    color: $blue-dark;
    text-decoration: underline;

    svg {
      fill: $blue-dark;
    }
  }
}
