.badge {
  display: inline-block;
  padding: 8px;
  border-radius: 60px;
  font-size: 10px;
  color: $white;
  border: 2px solid darken($gray, 5%);
  background-color: $gray;
  margin: 0 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1px;
  top: -2px;
  position: relative;

  @include m(blue) {
    @include color-scheme($blue);
  }

  @include m(purple) {
    @include color-scheme($purple);
  }

  @include m(yellow) {
    @include color-scheme($yellow);
  }

  @include m(pink) {
    @include color-scheme($pink);
  }

  @include m(green) {
    @include color-scheme($green);
  }

  @include m(red) {
    @include color-scheme($red);
  }
}
