// Functions
// Add pixel unit
// $value     - Value for adding px unit
// @returns   - number
@function addPxUnit($value) {
  @if unitless($value) {
    $value: $value * 1px;
  }
  @return $value;
}

// Convert pixels to em
// $target    - Value to be converted into em
// $context   - Default: Base font size. Base font size is usually 16px depending on browser default font size
// @returns   - number
@function em($target, $context: $base__font-size) {
  $target: addPxUnit($target);
  $context: addPxUnit($context);
  @return ($target/$context) * 1em;
}

// Convert pixels to rem
// $target    - Value to be converted into rem
// $context   - Default: Base font size. Base font size is usually 16px depending on browser default font size
// @returns   - number
@function rem($target, $context: $base__font-size) {
  $target: addPxUnit($target);
  $context: addPxUnit($context);
  @return $target/$context * 1rem;
}

// Convert pixels to percentage
// $target    - Value to be converted into percentage
// $context   - Context on which target needs to be relative to for percentage conversion
// @returns   - number
@function pntg($target, $context) {
  @return ($target/$context) * 100%;
}

// Unit Converstion
// $value    - Value to be converted into percentage
// $unit   - Intended unit
// @returns   - number
@function unitConversion($value, $unit: $unit) {
  @if ($unit == $rem) {
    @return rem($value);
  } @else if ($unit == $em) {
    @return em($value);
  } @else {
    @return $value;
  }
}
